{% extends "main.html" %}

{% block title %}
  {{ category_name }} | Item Catalog
{% endblock %}

{% block content %}
  <div class="container text-center">
    <div class="navigation text-left">
      <a href="{{ url_for('show_catalog') }}">
        <button type="button" class="btn btn-secondary">< Catalog</button>
      </a>
    </div>
    {% include "flash.html" %}
    <h1>{{ category_name }}</h1>
    <a href="{{ url_for('new_item', category_name=category_name) }}">
      <button class="btn btn-primary">+New Item</button>
    </a>
    <div class="list-group">
      {% for item in items %}
        <a class="list-group-item list-group-item-action" href="{{ url_for('show_item', category_name=category_name, item_name=item.name) }}">
          {{ item.name }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
